<%- include(`header`) %>

<!-- <div class="homebox">
    <div class="homesettings">
        <li> <a href=""> Edit Profile </a> </li>
        <li> <a href=""> Enroll Subjects </a> </li>
        <li> <a href=""></a> </li>
        <li> <a href=""></a> </li>
    </div>

    <div class="homefeed">
        <h2> Welcome <%= user %> </h2>
    </div>
</div> -->

<%- include(`footer`) %>