<%- include(`header`) %>

<div class="registerbox">

    <form action="/register" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="passwordConfirm" placeholder="Password Confirmation">
        <button type="submit"> Register </button>
    </form>

</div>

<%- include(`footer`) %>