<%- include(`header`) %>

<div class="settingbox">
    <div class="settings">
        <li> <a href="/editprofile"> Edit Profile </a> </li>
        <li> <a href="/addsubjects"> Enroll Subjects </a> </li>
        <li> <a href="/removesubjects"> Remove Subjects </a> </li>
    </div>

    <div class="settingfeed">
        <h2> Settings </h2>
    </div>
</div>

<%- include(`footer`) %>