@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --big: 'Montserrat', sans-serif;
    --small: 'Raleway', sans-serif;
}

label {
    margin: 0rem 0.5rem;
}

/* Bootstrap */

.alert {
    padding: 0.8rem 1rem;
    margin: 1rem 0rem;
    width: 70%;
    font-size: 0.8rem;
}

.alert p {
    margin: auto;
    font-family: var(--small);
}

/* Header Navbar */

.navbar {
    background-color: whitesmoke;
}

.navbar a {
    color: black;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

/* Login */

.loginbox {
    padding: 5rem 4rem;
}

.loginbox form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: whitesmoke;
    padding: 6rem 4rem;
    margin: auto;
    width: 60%;
}

.loginbox form h1 {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    font-family: var(--big);
    font-weight: 600;
}

.loginbox form input {
    width: 70%;
    margin: -0.1rem auto;
    padding: 0.5rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    font-family: var(--small);
}

.loginbox form input:focus {
    border-color: green;
}

.loginbox form button {
    width: 100px;
    padding: 0.3rem 1rem;
    background: rgb(58, 155, 235);
    color: white;
    border: none;
    margin: auto 1rem;
    font-family: var(--small);
}

.loginbox form .loginregis {
    padding: 1.5rem 1rem;
    display: flex;
}

.loginbox form .loginregis a {
    margin: auto 1rem;
    font-family: var(--small);
}

/* Register */

.registerbox {
    padding: 4rem;
}

.registerbox form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    width: 70%;
    margin: auto;
    background-color: whitesmoke;
}

.registerbox form h1 {
    text-align: center;
    margin: 1.5rem 0rem;
    font-family: var(--big);
    font-weight: 600;
}

.registerbox form input {
    margin: -0.1rem 0rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    width: 70%;
    font-family: var(--small);
}

.registerbox form .first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.registerbox form .last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.registerbox form input:focus {
    border-color: green;
}

.registerbox form button {
    width: 100px;
    padding: 0.3rem 1rem;
    background: rgb(58, 155, 235);
    color: white;
    border: none;
    margin: auto 1rem;
    font-family: var(--small);
}

.registerbox form .loginregis {
    margin: 0.8rem 0rem;
    padding: 1rem 1rem;
    display: flex;
}

.registerbox form .loginregis a {
    margin: auto 1rem;
    font-family: var(--small);
}

/* Home */

.homebox {
    padding: 6rem 2rem;
}

.welcomegreet {
    text-align: center;
    font-family: var(--big);
    margin: 3rem 0rem;
}

.sublist h3 {
    text-align: center;
    font-family: var(--big);
}

.sublistbox {
    padding: 3rem 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1.5rem 2rem;
}

.sublistbox h2 {
    font-family: var(--big);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sublistbox p {
    font-family: var(--small);
}

/* Settings */

.settingbox {
    display: flex;
    padding: 1rem 0rem;
}

.settings {
    flex: 2;
    padding: 15rem 3rem;
    border-right: solid black 1px;
}

.settings li {
    list-style: none;
}

.settings li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--small);
}

.settingfeed {
    flex: 8;
    padding: 5rem;
}

.settingfeed h2 {
    font-size: 4rem;
    font-family: var(--big);
}

/* Edit Profile */

.editfeed {
    flex: 8;
    padding: 5rem;
}

.editfeed form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;
    font-family: var(--small);
}

.editfeed form input {
    padding: 0.3rem 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0.5rem 0rem;
    width: 50%;
}

.editfeed form input:focus {
    border-color: green;
}

.editfeed h2 {
    font-size: 4rem;
    font-family: var(--big);
}

.editfeed button {
    width: 10%;
    margin: 1rem 0rem;
    padding: 0.3rem 1rem;
    font-family: var(--small);
    background: rgb(58, 155, 235);
    color: white;
    border: none;
}

/* Add subjects */

.addsubfeed {
    flex: 8;
    padding: 5rem;
}

.addsubfeed form span {
    margin: 0.3rem 0rem;
}

.addsubfeed form span label {
    font-size: 1.2rem;
    font-family: var(--small);
}

.addsubfeed h2 {
    font-size: 4rem;
    font-family: var(--big);
}

.addsubfeed form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.addsubfeed button {
    width: 10%;
    margin: 1rem 0rem;
    padding: 0.3rem 1rem;
    font-family: var(--small);
    background: rgb(58, 155, 235);
    color: white;
    border: none;
}

/* Remove Subjects */

.removefeed {
    flex: 8;
    padding: 5rem;
}

.removefeed .rem {
    margin-top: 3rem;
    padding: 2rem 0rem;
}

.removefeed h2 {
    font-size: 4rem;
    font-family: var(--big);
}

.removefeed form {
    display: flex;
}

.removefeed .subname {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.removefeed .subdelete {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.removefeed button {
    background: none;
    border: none;
    outline: none;
}